/*
  Стили для тёмной темы
*/

:root.theme-dark {
    --bg-image: url('../images/cover-image-dark.png');
    --bg-color: #000028;
    --text-color: #F1B2CE;
    --title-color: #DB00FF;
    --accent-color: #FF0070;
    --highlight-background: #FF0070;
    --highlight-color: #000028;
    --contrast-color: #FF0070;
    --button-hover-color: #FF007066;
}